body{
    margin: 0;
    padding: 0;
    background-color: rgb(168, 231, 246);
    font-family: 'Poppins', sans-serif;

}

#container{
   width: 100vw;
   height: 70vh; 
}
header{
    height: 15vh;
    margin-left: 8vw;
    margin-top: 10vh;
}

h2{
    font-size: 35px;
}

.nav {
    margin-left: 20vw;
    margin-top: -70px;
}
.nav ul li {
    list-style: none;
    float: left;
    margin-right: 50px;  
} 

.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav ul li a:hover{
    background-color: cadetblue;
    padding: 5px;
    color: white;
}

section{
    margin-left: 8vw;
    margin-top: -50px;
}

section h2{
    line-height: 40px;
    letter-spacing: 1px;
}
section p{
    /* font-weight: bold; */
    font-size: 15px;
    margin-top: -20px;
    line-height: 18px;
}

form input[type="text"], input[type="email"], input[type="tel"]{
    display: block;
    margin-top: 20px;
    width: 15vw;
    height: 3vh;
    padding: 5px;
    outline: none;
    border: none;
}

form input[type="button"]{
    margin-top: 20px;
    height: 5vh;
    width: 15.7vw;
    color: white;
    font-size: 13px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: cadetblue;
    cursor: pointer;
}

form input[type="button"]:hover{
    color: black;
    font-weight: bold;
    background-color: white;
}